a {
  text-decoration: none;
}
/* .App-logo { */
/*   animation: App-logo-spin infinite 20s linear; */
/*   height: 40vmin; */
/*   pointer-events: none; */
/* } */

/* .App-header { */
/*   background-color: #282c34; */
/*   min-height: 100vh; */
/*   display: flex; */
/*   flex-direction: column; */
/*   align-items: center; */
/*   justify-content: center; */
/*   font-size: calc(10px + 2vmin); */
/*   color: white; */
/* } */

.container {
  width: 100%;
  /* background: #a9a9a9; */
  /* border: dotted red 3px; */
}

.content-container {
  margin-top: 44px;
  width: 100%;
  /* border: dotted yellow 3px; */

}




.header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #282828;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10000;
  height: 44px;
  line-height: 44px;

}

.header a {
  color: white;
  font-weight: 600;
}

/* .header-buttons { */
/*   display: flex; */
/*   height: 60px; */
/*   margin: 5px 0; */
/*   justify-content: center; */
/*   align-items: center; */
/*   background: #EFEfef; */
/*   color: #FF3B3F; */
/* } */

.main-content {
  display: flex;
  justify-content: center;
}

.headshot {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 25px 0;
  /* margin: 0 10%; */


}

/* .headshot img { */
/*   max-width: 100%; */
/*   height: auto; */

/* } */

.project-image img {
  max-width: 100%;
  height: auto;

}

h1,strong {
  font-weight: 700;
}
.about-me {
  display: flex;
  justify-content: center;
  width: 100%;
  /* border: dotted green 3px; */
}

.about-me p {
}

/* .contact-links { */
/*   display: flex; */
/*   width: 100%; */
/*   height: 45px; */
/*   justify-content: space-around; */
/*   align-items: center; */
/*   background: #EFEFEF; */
/* } */

/* .icons { */
/*   height: 1.8em; */
/*   width: 1.8em; */
/*   color: #FF3B3F; */
/* } */

.link-buttons {
  display: flex;
  height: 75px;
  width: 100%;
  margin: 5px 0;
  border: black solid 1px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: #EFEFEF;
}


.project-links a {
  text-decoration: none;
  color: #FF3B3F;
}

/* .preview-component { */
/*   display: flex; */
/*   flex-direction: column; */
/*   justify-content: center; */

/* } */

.project-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0 0 25px 0;
  color: white;
  font-weight: 600;
  border-radius: 20px;
  margin: 20px 0;
}

.project-summary a {
  text-decoration: none;
}

.preview-name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: #282828;
}

.preview-image-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 0;
}

.summary-img {
  height: 100px;
  width: 100%;
  /* background-position: 50% 50%; */
  background-repeat: no-repeat; 
  background-size: cover;
}
/* .project-summary img { */
/*   max-width: 95%; */
/*   height: auto; */
/*   border-radius: 10%; */
/*   height: auto; */

/*   /1* border-radius: 50%; *1/ */
/* } */

.resume-container {
  width: 100%;
  padding: 0 5%;

}
.resume-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background: #FF3B3F; */
  /* color: #EFEFEF; */
  margin-top: 44px;
}

.resume-header a  {
  text-decoration: none;
  margin: 7px 0;
}

.resume-skills {
  /* border: dotted red 2px; */
  margin: 2px 0;
}
.resume-projects {
  /* border: dotted green 2px; */
  margin: 2px 0;
}
.resume-job-history {
  /* border: dotted blue 2px; */
  margin: 2px 0;
}
.resume-education {
  /* border: dotted yellow 2px; */
  margin: 2px 0;
}

/* .header-link-div { */
/*   width: 70%; */

/* } */
/* @keyframes App-logo-spin { */
/*   from { */
/*     transform: rotate(0deg); */
/*   } */
/*   to { */
/*     transform: rotate(360deg); */
/*   } */
/* } */

@media (min-width: 400px ) {
  .header{
    background-color: #282828;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10000;
    height: 44px;
    line-height: 44px;

  }

  .container {
    display: flex;
    justify-content: center;
  }
  .content-container {
    display: flex;
    flex-direction: column;
  /* border: dotted green 3px; */
    width: 66%;
  }

  .main-preview-content {
  /* border: dashed yellow 3px; */
  }

  .main-bio-content {
    display: flex;
    align-items: center;
  /* border: dotted red 3px; */
  }

  .main-bio-text {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    /* border: dotted green 3px; */
    padding: 0 10%;
  }

  .about-me {
    display: flex;
    flex-direction: column;
  }

  .main-greeting-name {
    width: 80%;
    margin: 10px 3%;
  /* border: dotted green 2px; */
  }

  .main-about-me-text {
    /* border: dashed green 4px; */
    width: 80%;
    margin: 10px 3%;
  }

  .header-link-div {
    display: flex;
    text-align: center;
    justify-content: space-around;
    width: 50%;
    font-weight: 600;


  }
  .header-link-div a {
    color: white;

  }

  .main-cta-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 65%;
    border: black solid 1px;
    border-radius: 8px;
    background: blue;
    color: white;
    font-weight: 700;
    max-width: 24em;
  }
  /* if it exceens the min width it changes to this: */
  /* outside of this is default */
  }

