.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.content-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}


.container {
  padding: 0 2%;
  /* border: dashed red 8px; */
}

.footer {
  display: flex;
  justify-content: center;
  border: dotted blue 3px;
}

.header{
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: center;
  flex-direction: column;
  border: dotted yellow 3px;
}

.header-buttons {
  display: flex;
  height: 100%;
  justify-content: center;
  border: dotted green 2px;
  align-items: center;

}

.main-content {
  display: flex;
  justify-content: center;
}

.headshot {
  width: 100%;

}

.headshot img {
  max-width: 100%;
  height: auto;

}
.about-me {
  width: 100%;
  background: lightsalmon;

}

.contact-links {
  display: flex;
  width: 100%;
  height: 45px;
  justify-content: space-around;
  align-items: center;
  background: lightgray;
}

.icons {
  height: 1.8em;
  width: 1.8em;
}
/* @keyframes App-logo-spin { */
/*   from { */
/*     transform: rotate(0deg); */
/*   } */
/*   to { */
/*     transform: rotate(360deg); */
/*   } */
/* } */

@media (min-width: 400px ) {
  /* if it exceens the min width it changes to this: */
  /* outside of this is default */
  .content-container {
     border: dashed black 8px; 
  }
  .header {
    display: flex;
    height: 30px;
    flex-direction: row;
    justify-content: space-around;
  }

  .header-buttons {
    width: 20%;
  border: dotted blue 2px;

  }

}
