.App {
  text-align: center;
}

/* .App-logo { */
/*   animation: App-logo-spin infinite 20s linear; */
/*   height: 40vmin; */
/*   pointer-events: none; */
/* } */

/* .App-header { */
/*   background-color: #282c34; */
/*   min-height: 100vh; */
/*   display: flex; */
/*   flex-direction: column; */
/*   align-items: center; */
/*   justify-content: center; */
/*   font-size: calc(10px + 2vmin); */
/*   color: white; */
/* } */

.App-link {
  color: #61dafb;
}
.container {
  padding: 0 2%;
  background: #a9a9a9;
  /* border: dashed red 8px; */
}

.content-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}



.footer {
  display: flex;
  justify-content: center;
}

.header{
  display: flex;
  width: 100%;
  height: 200px;
  justify-content: center;
  flex-direction: column;
}

.header a {
  text-decoration: none;
}

.header-buttons {
  display: flex;
  height: 75px;
  margin: 5px 0;
  border: black solid 1px;
  justify-content: center;
  align-items: center;
  background: #EFEfef;
  color: #FF3B3F;
}

.main-content {
  display: flex;
  justify-content: center;
}

.headshot {
  width: 100%;

}

.headshot img {
  max-width: 100%;
  height: auto;

}

.project-image img {
  max-width: 100%;
  height: auto;

}
.about-me {
  width: 100%;
  background: #EFEFEF;

}

.contact-links {
  display: flex;
  width: 100%;
  height: 45px;
  justify-content: space-around;
  align-items: center;
  background: #EFEFEF;
}

.icons {
  height: 1.8em;
  width: 1.8em;
  color: #FF3B3F;
}

.link-buttons {
  display: flex;
  height: 75px;
  width: 100%;
  margin: 5px 0;
  border: black solid 1px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: #EFEFEF;
}


.project-links a {
  text-decoration: none;
  color: #FF3B3F;
}

.project-summary {
  width: 100%;
  padding: 0 0 25px 0;
}

.project-summary a {
  text-decoration: none;
}
.preview-name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background: #EFEFEF;
  color: #FF3B3F;
}

.preview-image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 0;
}

.project-summary img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  height: auto;

  /* border-radius: 50%; */
}

.resume-header {
  border: dotted black 2px;
  margin: 2px 0;
  background: #FF3B3F;
  color: #EFEFEF;
}

.resume-header a  {
  color: #EFEFEF;
  text-decoration: none;
}

.resume-skills {
  border: dotted red 2px;
  margin: 2px 0;
}
.resume-projects {
  border: dotted green 2px;
  margin: 2px 0;
}
.resume-job-history {
  border: dotted blue 2px;
  margin: 2px 0;
}
.resume-education {
  border: dotted yellow 2px;
  margin: 2px 0;
}
/* @keyframes App-logo-spin { */
/*   from { */
/*     transform: rotate(0deg); */
/*   } */
/*   to { */
/*     transform: rotate(360deg); */
/*   } */
/* } */

@media (min-width: 400px ) {
  /* if it exceens the min width it changes to this: */
  /* outside of this is default */
  .content-container {
     border: dashed black 8px; 
  }
  .header {
    display: flex;
    height: 30px;
    flex-direction: row;
    justify-content: space-around;
  }

  .header-buttons {
    width: 20%;
  border: dotted blue 2px;

  .desktop-version {
    max-width: 30%;
    height: auto;
    border-radius: 25%;

  }

  }

}
